<h5 i18n>Exemplos de Pipes</h5>

<p i18n>Título: {{ livro.titulo | uppercase | lowercase | camelCase }}</p>
<p i18n>Estrelas: {{ livro.rating | number:'1.1-1' }}</p>
<p i18n>Páginas: {{ livro.numeroPaginas | number }}</p>
<!-- Agora o pipe de currency já vem com o símbolo da moeda.
Se quiser pode usar o parâmetro false na frente pra mostrar o código -->
<p i18n>Preço: {{ livro.preco | currency:'BRL':true }}</p>
<p i18n>Data Lançamento: {{ livro.dataLancamento | date:'dd/MM/yyyy' }}</p>
<p>URL: {{ livro.url }}</p>
<br/>
<p i18n>Livro: {{ livro | json }}</p>

<input type="text" [(ngModel)]="filtro">
<br/>
<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">Add Curso</button>

<h5>Pipe Puro</h5>

<ul>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
     * DISCLAIMER: FILTROS DE ARRAY NÃO DEVEM SER UTILIZADOS EM  *
     *   PROJETOS REAIS, E ESTARÃO SENDO FEITOS APENAS COMO UM   *
     *  EXEMPLO. O JEITO CORRETO SERÁ MOSTRADO NA PRÓXIMA AULA!  *
     * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <li *ngFor="let liv of livros | filtroArray:filtro">
        {{ liv }}
    </li>
</ul>

<h5>Pipe Impuro</h5>

<ul>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
     * DISCLAIMER: FILTROS DE ARRAY NÃO DEVEM SER UTILIZADOS EM  *
     *   PROJETOS REAIS, E ESTARÃO SENDO FEITOS APENAS COMO UM   *
     *  EXEMPLO. O JEITO CORRETO SERÁ MOSTRADO NA PRÓXIMA AULA!  *
     * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
     <!-- PIPES NÃO DEVEM SER UTILIZADOS PARA FAZER ORDERBY NEM FILTROS
     EM ARRAYS -->
    <li *ngFor="let liv of livros | filtroArrayImpuro:filtro">
        {{ liv }}
    </li>
</ul>

<h5>Maneira correta de usar filtro nos projetos</h5>

<ul>
    <li *ngFor="let liv of obterCursos()">
        {{ liv }}
    </li>
</ul>

<p>{{ valorAsync | async }}</p>
<p>{{ valorAsync2 | async }}</p>