<mat-grid-list cols="4" rowHeight="50px">
    <mat-grid-tile [colspan]="1">
        <p>
            Lista de alunos:
        </p>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3" [rowspan]="this.alunos.length >= 4 ? this.alunos.length + 1 : 5">
        <router-outlet></router-outlet>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" [rowspan]="this.alunos.length">
        <mat-nav-list>
            <a mat-list-item href="..." *ngFor="let aluno of alunos"
            [routerLink]="[aluno.id]">
                {{ aluno.nome }}
            </a>
        </mat-nav-list>
    </mat-grid-tile>
</mat-grid-list>