<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <div class="col-sm-12">
            <label for="nome" class="control-label" [ngClass]="aplicaCssErro('nome')">Nome</label>
        </div>
        <div class="col-sm-12 input-group">
            <span>
                <i class="bi bi-x-lg form-control-icon" *ngIf="verificaValidTouched('nome')"></i>
            </span>
            <input type="text" class="form-control" id="nome" placeholder="Nome" 
            formControlName="nome" required>
        </div>
        <app-campo-control-erro [mostrarErro]="verificaValidTouched('nome')" msgErro="Nome é obrigatório.">
        </app-campo-control-erro>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <label for="email" class="control-label" [ngClass]="aplicaCssErro('email')">E-mail</label>
        </div>

        <div class="col-sm-12">
            <div class="input-group">
                <span>
                    <i class="bi bi-x-lg form-control-icon" *ngIf="verificaValidTouched('email')"></i>
                </span>
                <input type="email" class="form-control" id="email" placeholder="nome@email.com"  formControlName="email"
                required email>
            </div>
            <app-campo-control-erro [mostrarErro]="verificaValidTouched('email')" msgErro="E-mail inválido.">
            </app-campo-control-erro>
            <!-- <app-campo-control-erro [mostrarErro]="verificaEmailInvalido()" msgErro="E-mail inválido.">
            </app-campo-control-erro> -->
        </div>
    </div>

    <div formGroupName="endereco">
        <div class="form-group row">
            <div class="col-md-3">
                <label for="cep" class="control-label" [ngClass]="aplicaCssErro('endereco.cep')">CEP</label>
                <div class="input-group">
                    <span>
                        <i class="bi bi-x-lg form-control-icon" *ngIf="verificaValidTouched('endereco.cep')"></i>
                    </span>
                    <input type="text" class="form-control" id="cep" formControlName="cep" (blur)="consultaCEP()">
                </div>
                <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.cep')" msgErro="CEP é obrigatório.">
                </app-campo-control-erro>
            </div>

            <div class="col-md-3" >
                <label for="numero" class="control-label" [ngClass]="aplicaCssErro('endereco.numero')">Número</label>
                <div class="input-group">
                    <span>
                        <i class="bi bi-x-lg form-control-icon" *ngIf="verificaValidTouched('endereco.numero')"></i>
                    </span>
                    <input type="text" class="form-control" id="numero" formControlName="numero">
                </div>
                <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.numero')" msgErro="Número é obrigatório.">
                </app-campo-control-erro>
            </div>

            <div class="col-md-6">
                <label for="complemento" class="control-label">Complemento</label>
                <input type="text" class="form-control" id="complemento" formControlName="complemento">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-12">
                <label for="rua" class="control-label" [ngClass]="aplicaCssErro('endereco.rua')">Rua</label>
                <div class="col-sm-12 input-group">
                    <span>
                        <i class="bi bi-x-lg form-control-icon" *ngIf="verificaValidTouched('endereco.rua')"></i>
                    </span>
                    <input type="text" class="form-control" id="rua" formControlName="rua">
                </div>
                <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.rua')" msgErro="Rua é obrigatório.">
                </app-campo-control-erro>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-5">
                <label for="bairro" class="control-label" [ngClass]="aplicaCssErro('endereco.bairro')">Bairro</label>
                <div class="input-group">
                    <span>
                        <i class="bi bi-x-lg form-control-icon" *ngIf="verificaValidTouched('endereco.bairro')"></i>
                    </span>
                    <input type="text" class="form-control" id="bairro" formControlName="bairro">
                </div>
                <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.bairro')" msgErro="Bairro é obrigatório.">
                </app-campo-control-erro>
            </div>

            <div class="col-md-4">
                <label for="cidade" class="control-label" [ngClass]="aplicaCssErro('endereco.cidade')">Cidade</label>
                <div class="input-group">
                    <span>
                        <i class="bi bi-x-lg form-control-icon" *ngIf="verificaValidTouched('endereco.cidade')"></i>
                    </span>
                    <input type="text" class="form-control" id="cidade" formControlName="cidade">
                </div>
                <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.cidade')" msgErro="Cidade é obrigatório.">
                </app-campo-control-erro>
            </div>

            <div class="col-md-3">
                <label for="estado" class="control-label" [ngClass]="aplicaCssErro('endereco.estado')">Estado</label>
                <div class="input-group">
                    <span>
                        <i class="bi bi-x-lg form-control-icon" *ngIf="verificaValidTouched('endereco.estado')"></i>
                    </span>
                    <select class="form-control" id="estado" formControlName="estado">
                        <option *ngFor="let estado of estados | async" [value]="estado.sigla">{{ estado.nome }}</option>
                    </select>
                </div>
                <app-campo-control-erro [mostrarErro]="verificaValidTouched('endereco.estado')" msgErro="Estado é obrigatório.">
                </app-campo-control-erro>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <label for="cargo" class="control-label" [ngClass]="aplicaCssErro('cargo')">cargo</label>
            <div class="input-group">
                <span>
                    <i class="bi bi-x-lg form-control-icon" *ngIf="verificaValidTouched('cargo')"></i>
                </span>
                <!-- Não entendi muito bem por que não posso passar a função nesse compareWith -->
                <select class="form-control" id="cargo" formControlName="cargo" [compareWith]="compararCargos">
                    <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{ cargo.desc }}</option>
                </select>
            </div>
        </div>
    </div>
    
  <button type="submit" class="btn btn-primary" name="submit">Submit</button>
  <button class="btn" (click)="resetar()">Cancelar</button>
  <button class="btn" (click)="setarCargo()">Cargo</button>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>
