<form
  class="row g-3 needs-validation"
  novalidate
  [formGroup]="form"
  style="padding-top: 10px"
>
  <div class="col-sm-12">
    <label for="validationCustom01" class="form-label">Nome do Curso</label>
    <input
      type="text"
      class="form-control"
      id="validationCustom01"
      placeholder="Nome do Curso"
      formControlName="nome"
      [ngClass]="{ 'is-invalid': submitted && hasError('nome') }"
    />
    <!-- TODO: Lição de casa: utilizar a lógica do módulo forms para
     melhorar o sistema de validações. -->
    <div
      class="invalid-feedback"
      *ngIf="hasError('nome') && getError('nome')['required']"
    >
      Por favor informe um nome para o curso.
    </div>
    <div
      class="invalid-feedback"
      *ngIf="hasError('nome') && getError('nome')['minlength']"
    >
      Nome precisa ter no mínimo
      {{ getError("nome")["minlength"].requiredLength }} caracteres.
    </div>
    <div
      class="invalid-feedback"
      *ngIf="hasError('nome') && getError('nome')['maxlength']"
    >
      Nome precisa ter no máximo
      {{ getError("nome")["maxlength"].requiredLength }} caracteres.
    </div>
  </div>
  <div style="margin-top: 10px">
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">
      Salvar
    </button>
    <button type="button" class="btn btn-default" (click)="onCancel()">
      Cancelar
    </button>
  </div>
</form>
