<div class="card mt-3">
    <div class="card-header">
        <div class="float-left">
            <h4>Cursos</h4>
        </div>
        <div class="float-right">
            <button type="button" class="btn btn-primary" [routerLink]="['novo']">Novo Curso</button>
            <button type="button" class="btn btn-secondary" (click)="onRefresh()">Atualizar</button>
        </div>
    </div>
    <div class="card-body">
        <ng-container *ngIf="cursos$ | async as cursos; else loadingError">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Curso</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let curso of cursos">
                        <td>{{ curso.id }}</td>
                        <td>{{ curso.nome }}</td>
                        <td>
                            <!-- Tentei usar o class em vez de style, como no exemplo da
                            Loiane, não funcionou. -->
                            <span style="float: right;">
                                <button class="btn btn-outline-warning mb-1 btn-sm">
                                    Atualizar
                                </button>
    
                                <button class="btn btn-outline-danger mb-1 btn-sm">
                                    Remover
                                </button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>

        <!-- Atualmente, o botão de Atualizar não mostra o template "loading"
        novamente enquanto carrega os dados. Isso, entretanto, não será 
        consertado agora por que a Loiane irá mudar isso para um alert
        do Bootstrap na próxima aula, e eu imagino que esse bug será
        corrigido, ou a lógica completamente alterada. -->
        <ng-template #loadingError>
            <div *ngIf="error$ | async; else loading">
                Erro ao carregar cursos. Tente novamente mais tarde.
            </div>
            <ng-template #loading>
                <span>Carregando Cursos...</span>
            </ng-template>
        </ng-template>
    </div>
</div>